<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/cv.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main class="main-content">
        <section class="left-section">
            <div class="left-content">
                <div class="profile">
                    <div class="image">
                        <img src="/avatar.jpg" alt="">
                    </div>
                    <h2 class="name">Rohit Manathiya</h2>
                    <p class="career">Software Engineer</p>
                </div>
                <div class="contact-info">
                    <h3 class="main-title">Contact Info</h3>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            7683029379
                        </li>
                        <li>
                            <i class="fa fa-fax"></i>
                            rohitmanathiya1tp@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-globe"></i>
                            https://www.linkedin.com/in/rohit-manathiya-3530951a7/
                        </li>
                        
                        
                        <li>
                            <i class="fa fa-map-marker"></i>
                            Gurgoan, Haryana
                        </li>
                    </ul>
                </div>
                <div class="skills-section">
                    <h3 class="main-title">Skills</h3>
                    <ul>
                        <li>
                            <p class="skill-title">Javascript</p>
                            <div class="progress-bar">
                                <div class="progress js-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">C++</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Java</p>
                            <div class="progress-bar">
                                <div class="progress j-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">React js</p>
                            <div class="progress-bar">
                                <div class="progress c-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Angular</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">Node js</p>
                            <div class="progress-bar">
                                <div class="progress n-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">html/css</p>
                            <div class="progress-bar">
                                <div class="progress ps-progress"></div>
                            </div>
                        </li>
                        
                        
                    </ul>
                </div>
                {{!-- <div class="references-section">
                    <h3 class="main-title">References</h3>
                    <div class="referee">
                        <h6 class="sub-title">Michael Bowen</h6>
                        <p class="sub-para">Product Manager</p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                07661892982
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>
                                loremipsum@gmail.com
                            </li>
                        </ul>
                    </div>
                    <div class="referee">
                        <h6 class="sub-title">Joseph Kumar</h6>
                        <p class="sub-para">Senior Developer</p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                07661892982
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>
                                loremipsum@gmail.com
                            </li>
                        </ul>
                    </div>
                    <div class="referee">
                        <h6 class="sub-title">Rick Ross</h6>
                        <p class="sub-para">Product Manager</p>
                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                07661892982
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>
                                loremipsum@gmail.com
                            </li>
                        </ul>
                    </div>
                </div> --}}
            </div>
        </section>
        <section class="right-section">
            <div class="right-main-content">
                <section class="about sect">
                    <h2 class="right-title">About Me</h2>
                    <p class="para">
                       I hold a B.Tech degree from UPES.
Strong in design and integration with intuitive problem-solving skills. Proficient in C++,C#, SQL Server and
Javascript. Working as Technical Associate engineers in Oncehub.
 <br>
                        <br>
                        Allways ready to learn and implements new technologies. Every technologies is to make humans life easy
                        .
                    </p>
                </section>

                <section class="experince sect">
                    <h2 class="right-title">Experience</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">OnceHub</h5>
                            <p class="para">Joined in 2021</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Technical Associate Developer</h5>
                                <p class="para">
                                    Worked on Schedule once which is one of the product of oncehub which is used to arrange meetings in more efficient and secure way.
                                    <br>
                                    I worked on many bugs and mostly need to check if product is working fine or not.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </section>
                <section class="education sect">
                    <h2 class="right-title">education</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">UPES</h5>
                            <p class="para">2017 - 2021</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Btech</h5>
                                <p class="para">
                                    Done undergraduation from UPES
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">LKIS</h5>
                            <p class="para">2015-2016</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">12th</h5>
                                <p class="para">
                                    Done 12th from Lord Krishna International School with 80%
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">SCR</h5>
                            <p class="para">2013 -2014</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">10th</h5>
                                <p class="para">
                                    Done 10th from cbse board with 8.8 cgpa
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="awards sect">
                    <h2 class="right-title">Awards</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Codechef scholarship for certification exam</h5>
                            <p class="para">feb 2020</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Certification exam</h5>
                                <p class="para">
                                    Got 1st rank in college in codechef contest and got 100 scholarship for certification exam.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </section>
            </div>
        </section>
    </main>
</body>
</html>